<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
			<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

		</head>
		<!-- <script src="scripts.js"></script> -->


		<body>
			<nav>
				<ul>
	        		<li><a href="/">Home</a></li>
					<li><a href="/research">Research</a></li>
					<li><a href="/projects">Projects</a></li>
					<li><a href="/thoughts">Thoughts</a></li>
					<!-- Need to add "pictures/photos", books/repository of thoughts/references
					especially a collection of papers on comp. sus & RL applications (i.e. Fisher's 
					Selected Summary of AI for Comp. Sus., RL for sustainable agriculture, RL 
					Decision Making conference, prepare for ICML 2021 climate AI workshop) -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
					<li><a href="mailto:rohan.nuttall1@gmail.com">email</a></li>
					<li><a href="https://twitter.com/NuttallRohan" target="_blank">twitter</a></li>
					<li><a href="https://github.com/rohancalum" target="_blank">github</a></li>
					<li><a href="http://jmcglone.com/guides/github-pages/" target="_blank">site credit</a></li>
				</ul>
			</footer>
		</body>
	</html>